RAILS_MIN_THREADS=1
RAILS_MAX_THREADS=1
DATABASE_URL=postgres://user@localhost/letopark_dev

AIRBRAKE_ID=123456
AIRBRAKE_KEY=ABC

S3_REGION=eu-central-1
S3_BUCKET=letopark-development

AWS_ACCESS_KEY=access
AWS_SECRET_KEY=secret
