default: &default
  encoding: unicode
  adapter: postgresql
  url: <%= ENV.fetch('DATABASE_URL') %>
  pool: <%= ENV.fetch('RAILS_MAX_THREADS') %>

development:
  <<: *default

test:
  <<: *default

production:
  <<: *default
